/* Estilos específicos para a página do dashboard */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    background: rgb(149, 27, 27);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    flex: 1 1 30%;
    min-width: 250px;
}

.card h3 {
    margin: 0 0 10px;
}

.card p {
    font-size: 1.5em;
    color: #333;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}